<div class="container">
  <h1>{{ "privacy.title" | translate }}</h1>
  <p>{{ "privacy.lastUpdated" | translate }}</p>
  <p>
    {{ "privacy.description" | translate }}
  </p>
  <h2>{{ "privacy.interpretationAndDefinitions" | translate }}</h2>
  <h3>{{ "privacy.interpretation" | translate }}</h3>
  <p>
    {{ "privacy.interpretation" | translate }}
  </p>
  <h3>{{ "privacy.definitions" | translate }}</h3>
  <p>{{ "privacy.definitions" | translate }}</p>
  <ul>
    <li>
      <p>
        <strong>{{ "privacy.account" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.affiliate" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.company" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.cookies" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.country" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.device" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.personalData" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.service" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.serviceProvider" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.usageData" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.website" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.you" | translate }}</strong>
      </p>
    </li>
  </ul>
  <h2>{{ "privacy.collectingAndUsingYourPersonalData" | translate }}</h2>
  <h3>{{ "privacy.typesOfDataCollected" | translate }}</h3>
  <h4>{{ "privacy.personalDataHeader" | translate }}</h4>
  <p>{{ "privacy.personalDataDescription" | translate }}</p>
  <h4>{{ "privacy.usageDataHeader" | translate }}</h4>
  <p>{{ "privacy.usageDataHeader" | translate }}</p>
  <h4>{{ "privacy.trackingTechnologiesAndCookies" | translate }}</h4>
  <p>{{ "privacy.trackingTechnologiesAndCookies" | translate }}</p>
  <h3>{{ "privacy.cookiesPolicy" | translate }}</h3>
  <p>{{ "privacy.cookiesPolicy" | translate }}</p>
  <h3>{{ "privacy.useOfYourPersonalData" | translate }}</h3>
  <p>{{ "privacy.useOfYourPersonalData" | translate }}</p>
  <ul>
    <li>
      <p>
        <strong>{{ "privacy.businessTransactions" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.lawEnforcement" | translate }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "privacy.otherLegalRequirements" | translate }}</strong>
      </p>
    </li>
  </ul>
  <h3>{{ "privacy.securityOfYourPersonalData" | translate }}</h3>
  <p>{{ "privacy.securityOfYourPersonalData" | translate }}</p>
  <h2>{{ "privacy.childrensPrivacy" | translate }}</h2>
  <p>{{ "privacy.childrensPrivacy" | translate }}</p>
  <h2>{{ "privacy.linksToOtherWebsites" | translate }}</h2>
  <p>{{ "privacy.linksToOtherWebsites" | translate }}</p>
  <h2>{{ "privacy.changesToThisPrivacyPolicy" | translate }}</h2>
  <p>{{ "privacy.changesToThisPrivacyPolicy" | translate }}</p>
  <h2>{{ "privacy.contactUs" | translate }}</h2>
  <p>{{ "privacy.contactDetails" | translate }}</p>
  <ul>
    <li>
      <p>{{ "privacy.email" | translate }} office&#64;atg-at.net</p>
    </li>
    <li>
      <p>{{ "privacy.phone" | translate }}</p>
    </li>
  </ul>
</div>
