<div class="container">
  <h4>{{ "imprint.title" | translate }}</h4>
  <p>
    <b>{{ "imprint.disclosure" | translate }}</b>
  </p>
  <p>
    <b>{{ "imprint.websiteOperator" | translate }}</b>
    {{ "imprint.companyName" | translate }}<br />
    <b>{{ "imprint.companyNumber" | translate }}</b>
    {{ "imprint.companyNumber" | translate }}<br />
    <b>{{ "imprint.court" | translate }}</b> {{ "imprint.court" | translate }}
  </p>
  <p>
    <b>{{ "imprint.address" | translate }}</b>
    {{ "imprint.address" | translate }}
  </p>
  <p>
    <b>{{ "imprint.uid" | translate }}</b> {{ "imprint.uid" | translate }}<br />
    <b>{{ "imprint.tradeAuthority" | translate }}</b
    ><br />
    <b>{{ "imprint.memberships" | translate }}</b>
  </p>
  <p>
    <b>{{ "imprint.contactDetails" | translate }}</b
    ><br />
    {{ "imprint.phone" | translate }}<br />
    Email: office&#64;atg-at.net<br />
    {{ "imprint.fax" | translate }}
  </p>

  <p>
    <b>{{ "imprint.applicableLaw" | translate }}</b> www.ris.bka.gv.at<br />
    <b>{{ "imprint.professionalTitle" | translate }}</b>
  </p>
  <p>
    <b>{{ "imprint.onlineDisputeResolution" | translate }}</b> Verbraucher,
    welche in Österreich oder in einem sonstigen Vertragsstaat der ODR-VO
    niedergelassen sind, haben die Möglichkeit Probleme bezüglich dem
    entgeltlichen Kauf von Waren oder Dienstleistungen im Rahmen einer
    Online-Streitbeilegung (nach OS, AStG) zu lösen. Die Europäische Kommission
    stellt eine Plattform hierfür bereit: https://ec.europa.eu/consumers/odr
  </p>
  <p>
    <b>{{ "imprint.copyright" | translate }}</b>
    {{ "imprint.copyright" | translate }}
  </p>
  <p>
    <b>{{ "imprint.disclaimer" | translate }}</b>
    {{ "imprint.disclaimer" | translate }}
  </p>
  <p>
    {{ "imprint.source" | translate }}:
    <b
      ><a
        href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php"
        >{{ "imprint.source" | translate }}</a
      ></b
    >
  </p>
</div>
