a {
  cursor: pointer;
}

:host {
  display: block;
}

.pd {
  padding: 8px;
}
.logo {
  height: 10vh;
}

.language {
  cursor: pointer;
}
.language-mobile {
  display: none;
  color: rgb(36, 99, 235);
}
.language-desktop {
  cursor: pointer;
}

@media (max-width: 500px) {
  .language-desktop {
    display: none;
  }
  .language-mobile {
    display: block;
  }
}
