@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/animations';

:root {
  color-scheme: dark;
}

body {
  background-color: black;
  color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
