<div class="container mx-auto px-4 py-24">
  <div
    *ngFor="let post of blogPosts$ | async"
    class="bg-white p-6 rounded-lg shadow-md mb-4 hover:shadow-lg transition-shadow"
  >
    <h2 class="text-2xl font-semibold mb-4">{{ post.title }}</h2>
    <div
      [innerHTML]="
        getSanitizedContent((post.content | slice : 0 : 200) + '...')
      "
    ></div>
    <p class="text-gray-500 text-sm">
      {{ convertTimestampToDate(post.createdAt) | date }}
    </p>
    <button (click)="viewPost(post.id)" class="more-button">
      Klick hier für mehr
    </button>
  </div>
</div>
