<footer class="border-t border-white/10 bg-black mt-32">
  <div class="container mx-auto px-4 py-8">
    <div class="flex justify-between items-center">
      <p class="text-sm text-gray-400">
        &copy; {{ "footer.copyright" | translate : { year: currentYear } }}
      </p>
      <div class="flex items-center gap-6">
        <a
          routerLink="/imprint"
          class="text-sm text-gray-400 hover:text-white transition-colors"
        >
          {{ "footer.imprint" | translate }}
        </a>
        <a
          routerLink="/privacy"
          class="text-sm text-gray-400 hover:text-white transition-colors"
        >
          {{ "footer.privacyPolicy" | translate }}
        </a>
      </div>
    </div>
  </div>
</footer>
